jana:nevents                                                                   20000
nthreads                                                                       1
podio:output_exclude_collections GeneratedJets,GeneratedChargedJets,GeneratedCentauroJets,ReconstructedJets,ReconstructedChargedJets,ReconstructedCentauroJets,DRICHRawHits,DRICHRawHitsAssociations,DRICHAerogelTracks,DRICHGasTracks,DRICHAerogelIrtCherenkovParticleID,DRICHGasIrtCherenkovParticleID,DRICHTruthSeededParticleIDs,DRICHParticleIDs,RICHEndcapNRawHits,RICHEndcapNRawHitsAssociations,RICHEndcapNTruthSeededParticleIDs,RICHEndcapNParticleIDs,
